<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Easy, Peasy, Recipes</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>

    <a href="/recipes" <%- title === 'All Recipes' ? 'class="active"' : '' %>>All Recipes</a>
    <% if (user) { %>
      <a href="/recipes/new" <%- title === 'Add Recipe' ? 'class="active"' : '' %>>Add Recipe</a>
      <a href="/ingredients/new"	<%- title === 'Add Ingredient' ? 'class="active"' : '' %>>
      Add Ingredient</a>
      <a href="/logout">Log out</a>
    <% } else { %>
      <a href="/auth/google" class="login">Log In</a>
    <% } %>
  </nav>
  <main>
