* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #83af96;
}

body {
  margin: 0;
  height: 75vh;
  display: grid;
  grid-template-rows: 75px;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  background-color: #52946F;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  padding: 15px;
  border-radius: 15px;
  color: #067737;
}

