<%- include('../partials/header') %>

<div>Don't see the ingredient you need? Add one below!</div>
<section id="badge-container">
  <% ingredients.forEach(function(i) { %>
    <article class="badge"><%= i.name %></article>
  <% }) %>
</section>

<form id="add-ingredient-form" action="/ingredients" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Measurement:</label>
  <input type="text" name="measurement">
  <input type="submit" value="Add Ingredient">
</form>

<%- include('../partials/footer') %>
